body {
    background-color: #C0DCEC;
}

h1 {
    text-align: center;
}
/* h2 {
    text-align: left;
} */

#header {
  display: grid;
  grid-auto-flow: column;
}
.summary-container {
    display: grid;
    /* grid-template-columns:repeat(3,1fr) */
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap: 30px
    
}

.fun-facts {
display: grid;
grid-template-columns: 1fr 1fr;


}

/* .good-times{
    display: grid;
    justify-content: right;
} */

.NC-blue{
    color: cornflowerblue;  
}