body {
    background-color: #C0DCEC;
}

h1 {
    text-align: center;
}
/* h2 {
    text-align: left;
} */

#header {
  display: grid;
  grid-auto-flow: column;
}
.summary-container {
    display: grid;
    /* grid-template-columns:repeat(3,1fr) */
    grid-template-columns:1fr 1fr 1fr 
    
}

.NC-blue{
    color: cornflowerblue;  
}